.comment-show
  %p
  =comment.text
  %p
    %label by:
    %strong
      =comment.user.full_name
    %label commented on:
    =comment.reviewed_at
    -if (comment.user == current_user) || current_user == @review.user
      =link_to("Delete", "/reviews/#{@review.id}/comments/#{comment.id}", method: 'DELETE')
