%div{:class => "comment-show-#{comment.id}"}
  %p
  =comment.text
  %p
    %label by:
    %strong
      =comment.user.full_name
    %label commented on:
    =comment.reviewed_at
    -if comment.user == current_user
      =link_to("Delete", "/films/#{@film.id}/comments/#{comment.id}", method: 'DELETE', remote: true)
