.films
  - if @films
    - @films.each do |film|
      .film
        .film-image= link_to image_tag(film_image_url(film.title)), film
        .film-title= link_to "#{film.title}", film

%br/
.center
  .pagination
    - if @allfilms
      = paginate @allfilms
%br/
