.films
  - @films.each do |film|
    .film
      .film-image= link_to image_tag(film_image_url(film.title)), film
      .film-title= link_to "#{film.title}", film

%br/
.center
  .pagination
    = paginate @films
%br/
/ .center
/   .simple
/     = search_form_for @search do |f|
/       = f.search_field :title_eq
/       = f.submit
