/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    max-width: 1190px;
    margin: auto;
    background-color: #ededed;
}

.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a, .topnav img{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style search form inside the navigation bar */
.topnav form {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ededed;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.film {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    align-items: center;
}

.alert {;
    color: red;
}

.film-review-comment, .film-full-info {
    display: flex;
}

.film-review, .film-comment, .film-info, .film-details {
    width: 50%;
}

.average-rating {
    display: inline-block;
}

/* Start of pagination styling */
.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a, .current{
    color: black;
    /*float: left;*/
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* End of pagination styling */

.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: right;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}: hidden;
}

iframe {
  display:block;
  margin:auto;
}