.review-show
  %p
    -if !@review
      -if @display
        -if review.reviewable_type == "Actor"
          =link_to(review.reviewable.full_name, actor_path(review.reviewable))
        -else
          =link_to(review.reviewable.title, film_path(review.reviewable))
      -else
        =link_to("View full review", review_path(review))
  %p
  =review.text
  %p
    %label by:
    %strong
      =review.user.full_name
    %label reviewed on:
    =review.reviewed_at
