-if @review.reviewable_type == "Film"
  %h1 Review for
    = @review.film.title
-else
  %h1 Review for
    = @review.actor.first_name + " " + @review.actor.last_name

.review-full
  %p
    =render partial: 'show'
  -if current_user == @review.user
    -# =link_to("Edit", PLACEHOLDER FOR EDIT PATH)
    -# =link_to("Delete", PLACEHOLDER FOR DELETE PATH, method: 'DELETE')

  %label Rating:
    = @review.rating_avg

  -if !@raters.include?(current_user)
    -# = render partial: 'ratings/form'

.review-comments
  %h2 Comments:
  -@review.comments.each do |comment|
    -# =render partial: 'comments/show', locals: {comment: comment}
